<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.savosh.exx">
    <uses-sdk android:minSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MenuActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".exx1.FirstActivity" android:icon="@drawable/icon" android:label="@string/app_name"/>
        <activity android:name=".exx1.SecondActivity" android:icon="@drawable/icon" android:label="@string/app_name"/>
        <activity android:name=".exx2.FirstActivity" android:icon="@drawable/icon" android:label="@string/app_name"/>
        <activity android:name=".exx3.FirstActivity" android:icon="@drawable/icon" android:label="@string/app_name"/>
        <activity android:name=".exx3.SecondActivity" android:icon="@drawable/icon" android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity android:name=".exx4.FirstActivity" android:icon="@drawable/icon" android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name=".exx5.FirstActivity" android:icon="@drawable/icon" android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity android:name=".exx5.SecondActivity" android:icon="@drawable/icon" android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity android:name=".exx6.FirstActivity" android:icon="@drawable/icon" android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name=".exx7.FirstActivity" android:icon="@drawable/icon" android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity android:name=".exx7.SecondActivity" android:icon="@drawable/icon" android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity android:name=".exx8.SplashScreenActivity"
                  android:icon="@drawable/icon"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity android:name=".exx8.FirstActivity"
                  android:icon="@drawable/icon"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity android:name=".exx8.SecondActivity"
                  android:icon="@drawable/icon"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity android:name=".exx9.FirstActivity"
                  android:icon="@drawable/icon"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity android:name=".exx11.SplashScreenActivity"
                  android:icon="@drawable/icon"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity android:name=".exx11.FirstActivity"
                  android:icon="@drawable/icon"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity android:name=".exx11.ScreenSlidePagerActivity"
                  android:icon="@drawable/icon"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.NoActionBar"/>
        <activity android:name=".exx12.MainActivity"
                  android:icon="@drawable/icon"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:name=".exx13.MainActivity"
                  android:icon="@drawable/icon"
                  android:label="@string/app_name"
                  android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".exx14.MainActivity"
                  android:icon="@drawable/icon"
                  android:label="@string/app_name"
                  android:theme="@style/MyMaterialTheme"/>
        <activity android:name=".exx14.TabsActivity" android:theme="@style/MyMaterialTheme"
                  android:parentActivityName=".exx14.MainActivity"/>
    </application>
</manifest>
